html, body {
    margin: 0;
    padding: 0;
}

.header {
    width: 300px;
    padding: 20px;
    padding-bottom: 0;
}

.header .field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 10px;
}

.header .field select {
    width: 200px;
    height: 24px;
}


.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.container .video {
    width: 500px;
    height: 300px;
    border: 1px solid gray;
}
